
body{
    
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  
    background: linear-gradient(to right, #cbb4d4, #20002c);
    
}
.header {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 100px; /* Adjust the height as needed */
    opacity: 0;
    animation: slideRight 1s ease forwards;

  }
  
  .navigation a {
    display: inline-block; 
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
 
  }
  
  .navigation a:hover,
  .navigation a.active {
    color: #ff0000; /* Change the color on hover as desired */
  }
  
#Home{
    position: relative;
    /* width: 100%; */
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 0;
}
.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700; 
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 :nth-of-type(2){
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}


.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #0ef; 
}
.home-img img{
    max-width: 450px;
    border-radius: 20px;
    margin-right: -20px; 
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}


.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    box-shadow: 0 0 20px #0ef; 
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.social-media a:hover{
    background: #0ef;
    color: #1f242d; 
}

#About{
    position: relative;
    /* width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10% 0;
}
.about-heading{
    font-size:60px;
    color: rgb(11, 12, 12);
    display:flex;
    justify-content:center;
    align-items:center;
}
.about-content p{
    box-sizing: border-box;
    display: flex;
    font: bold;
    font-size: 26px;    
    font-weight: 500;
    height: 339.594px;
    justify-content: center;
    line-height: 40px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding: 0px;
    padding-top: 31.45px;
    scroll-behavior: smooth;
    text-align: justify;
    width: 100%;
    word-spacing: 10px;   
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}
.resume-button {
    text-align: center;
}  
.resume-button a {
    display: inline-block;
    padding: 20px ;
    background-color: #21e68a;
    color: #111010;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1; 
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1; 
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1; 
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1; 
    }
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1; 
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}
.project-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .heading{
    font-size:40px;
    color: rgb(11, 12, 12);
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  .project {
    width: 300px;
    height: 500px;
    padding: 20px;
    text-align: center;
    background:#65abd3;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    width: 100%;
    height:25vh;
    border-radius: 10px;
  }
  
  .project-details {
    margin-top: 20px;
  }
  
  .project-name {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .project-description {
    margin: 10px 0;
  }
  
  .project-link1 {
    display: inline-block;
    padding: 10px 20px;
    padding-bottom: 10px;
    background-color: #383538;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .project-link2 {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: auto;
    padding-bottom: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .project-link3 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
 /* #Skills{
 
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px 10% 0;
} */
    
.skill-heading{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1; /* Span across all columns */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some space between heading and images */
}
.skill{
    display: grid;
    margin-left: 20%;
    padding:10px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.skill-img{
    width: 30%; /* Adjust image width to fill the available space */
    justify-content: center;
}

.contact-section {
    text-align: center;
  }
  
  .section-title {
    font-size: 40px;
    margin-top: 60px;
    padding: 60px;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    
    margin-bottom: 100px;
    margin-top: 100px;
    margin: 0 auto;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 40px;
    padding: 10px;  
    border: 1px solid #0ef;
    box-shadow: 0 0 20px rgb(22, 22, 22); 
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    height: 120px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #e94f12;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
